.picker-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Arial', 'sans-serif';
}

.color-container {
    padding: 100px;
    text-align: center;
    border-radius: 5px;
    background-color: rgb(74, 10, 212);
    margin-bottom: 15px;
}

p {
    font-size: 1.2em;
}

input {
    width: 100px;
    height: 40px;
    border-radius: 5px;
}